@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

li,
li a {
  list-style: none;
  text-decoration: none;
}

.client {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.service {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  max-width: 496px;
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
}

.languages p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: 1px solid #6070ff;
  padding: 4px 7px;
  background: #ebebff;
  border-radius: 8px;
}

button {
  width: 140px;
  height: 44px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

/* Desktop part https://formspree.io/f/mwkjpdrl */

@media only screen and (min-width: 768px) {
  .mob_work,
  .nav_links i {
    display: none;
  }

  /* Header section */
  header {
     background-color: white;
  }

  .container {
    margin: 0 auto;
  }

  nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .logo {
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-left: 30px;
  }

  .nav_links {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-right: 30px;
  }

  .nav_links a,
  .social a {
    color: #344563;
  }

  .present {
    background: url(./images/Header_bground.png);
    background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
    background-color: white;
    height: 816px;
    border: 1px solid #fff;
    border-bottom-left-radius: 80px;

  }

  .present h1 {
    position: relative;
    top: 200px;
    left: 130px;
    width: 60%;
    height: 122px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .present p {
    position: relative;
    top: 189px;
    left: 130px;
    width: 70%;
    height: 92px;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #344563;
  }

  .present h3 {
    position: relative;
    top: 195px;
    left: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    max-width: 200px;
  }

  .present > .social {
    position: relative;
    top: 189px;
    left: 100px;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: #505f79;
    max-width: 200px;
  }

  .desk_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .projet_img {
    width: 50%;
    height: 430px;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
    height: 500px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: #fff;
    padding: 10px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .info_projet h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 0;
  }

  .type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    height: 30px;
  }

  .type img {
    width: 8px;
    height: 8px;
  }

  /* about myself css part */

  .about {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    gap: 20px;
    height: 927px;
    border: 1px solid #fff;
    border-top-right-radius: 80px;
  }

  .about_me {
    position: relative;
    top: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }

  .about_me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 0;
  }

  .about_me p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 0;
    max-width: 447px;
    height: 132px;
  }

  .about_me h3 {
    position: relative;
    top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    max-width: 200px;
    margin: 0;
  }

  .about_me > .social {
    position: relative;
    top: 50px;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: #505f79;
    max-width: 200px;
  }

  .about_me button {
    position: relative;
    top: 60px;
  }

  .expertise {
    position: relative;
    top: 166px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    gap: 10px;
    width: 55%;
  }

  .domaine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    width: 100%;
  }

  .domaine h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 0;
  }

  .dom2,
  .dom3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe1e6;
  }

  .list_language ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 324px;
  }

  .list_language h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .lang img {
    width: 48px;
    height: 48px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 110px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  /* Contact css start */

  .contact {
    background-color: #6070ff;
    background-image: url(./images/contact_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6070ff;
    border-top-left-radius: 80px;
    margin-top: -200px;
    padding-bottom: 20px;
    gap: 10px;
  }

  .contact h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin: 80px 0 0 0;
  }

  .contact p {
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    width: 55%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  input {
    width: 447px;
    height: 44px;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    background: white;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    color: #172b4d;
  }

  input::placeholder {
    color: #172b4d;
    font-size: 17px;
    padding-left: 10px;
  }

  textarea {
    width: 447px;
    height: 170px;
    background: white;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    margin-bottom: 0;
    text-align: start;
    font-size: 20px;
  }

  textarea::placeholder {
    position: absolute;
    color: #b3b3b3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 10px;
  }

  .contact button {
    margin-left: 150px;
  }
}

/* Mobile part */

@media (max-width: 767px) {
  .desk_work,
  .nav_links a {
    display: none;
  }

  /* header section css */

  header {
    background-color: #fff;
  }

  

  nav i {
    font-size: 30px;
    color: #6070ff;
    padding-right: 40px;
  }

  nav {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .logo h4 {
    width: 76px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 10px;
  }

  .present {
    background-color: #fff;
    background-image: url(./images/header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -60px;
    height: 718px;
    border: 1px solid #fff;
    border-bottom-left-radius: 70px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-start; */
    padding-left: 30px;
    gap: 10px;
  }

  .present h1 {
    position: relative;
    top: 200px;
    max-width: 327px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin: 0;
  }

  .present p {
    position: relative;
    top: 200px;
    max-width: 627px;
    height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin: 0;
    padding-right: 8                  px;
  }

  .present h3 {
    position: relative;
    top: 200px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #7f8cff;
    margin: 0;
  }

  /* .social {
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    gap: 18px;
    flex-grow: 0;
  } */

  .present ul {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
    padding-left: 0;
    /* flex-grow: 0; */
  }

  .social i {
    font-size: 30px;
    color: #344563;
  }

  .mob_work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    margin-bottom: 80px;
    padding: 10px;
    gap: 40px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 10px;
    width: 92%;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 0;
  }

  .type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    height: 30px;
  }

  .languages,
  .description {
    margin-bottom: 0;
  }

  .description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  /* about section css */

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-top-right-radius: 70px;
    padding: 0 10px 1px 10px;
    height: 1263px;
  }

  .about_me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    max-width: 260px;
  }

  .about_me h3 {
    color: #7f8cff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .expertise {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .domaine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }

  .domaine h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .list_language ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* margin-left: 10px; */
  }

  .list_language h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .lang {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: #f7f7f9;
    border-radius: 8px;
    padding: 10px;
  }

  .dom2,
  .dom3 {
    height: 40px;
    border-bottom: 1px solid #dfe1e6;
  }

  /* Contact css part */

  .contact {
    background-color: #396df2;
    background-image: url(./images/bg_bout.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
    gap: 20px;
    border: solid transparent;
    border-top-left-radius: 80px;
    margin-top: -60px;
    padding: 20px;
  }

  .contact h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin: 0;
    margin-top: 90px;
  }

  .contact p {
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-top: 1px;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .user {
    width: 327px;
    height: 44px;
    margin-top: 20px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    background: white;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
  }

  #email {
    margin: 0;
    outline: none;
  }

  input::placeholder {
    color: #172b4d;
  }

  #message {
    width: 327px;
    height: 170px;
    background: white;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin-bottom: 0;
    text-align: start;
    font-size: 20px;
  }

  input:hover,
  #message:hover {
    border: 1px solid #0943e2;
  }

  #message::placeholder {
    position: absolute;
    color: #b3b3b3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 10px;
  }
}
