@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

li,
li a {
  list-style: none;
  text-decoration: none;
}

/* Desktop part https://formspree.io/f/mwkjpdrl */

@media only screen and (min-width: 768px) {
  .mob_work,
  .nav_links i {
    display: none;
  }

  /* Header section */
  header {
    background-color: white;
    height: 816px;
    border: 1px solid #fff;
    border-bottom-left-radius: 80px;
  }

  .container {
    margin: 0 auto;
  }

  nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .logo {
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-left: 30px;
  }

  .nav_links {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-right: 30px;
  }

  .nav_links a,
  .social a {
    color: #344563;
  }

  .present {
    background-image: url(./images/Header_bground.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .present h1 {
    position: relative;
    top: 200px;
    left: 130px;
    width: 60%;
    height: 122px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .present p {
    position: relative;
    top: 175px;
    left: 130px;
    width: 70%;
    height: 92px;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #344563;
  }

  .present h3 {
    position: relative;
    top: 179px;
    left: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    max-width: 200px;
  }

  .present > .social {
    position: relative;
    top: 180px;
    left: 130px;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: #505f79;
    max-width: 200px;
  }

  .desk_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .projet_img {
    width: 50%;
    height: 430px;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 500px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: #fff;
    padding: 10px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .info_projet h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 0;
  }

  .type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    height: 30px;
  }

  .type img {
    width: 8px;
    height: 8px;
  }

  .client {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .service {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    max-width: 496px;
  }

  .languages {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 20px;
  }

  .languages p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    border: 1px solid #6070ff;
    padding: 4px 7px;
    background: #ebebff;
    border-radius: 8px;
  }

  button {
    width: 140px;
    height: 44px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
  }

  button:hover {
    background-color: #6070ff;
    color: #fff;
    cursor: pointer;
  }

  button:active {
    background-color: #2230d2;
    color: #fff;
  }

  /* about myself css part */

  .about {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    gap: 10px;
    height: 927px;
    border: 1px solid #fff;
    border-top-right-radius: 80px;
  }

  .about_me {
    position: relative;
    top: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }

  .about_me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 0;
  }

  .about_me p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 0;
    max-width: 447px;
    height: 132px;
  }

  .about_me h3 {
    position: relative;
    top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    max-width: 200px;
    margin: 0;
  }

  .about_me > .social {
    position: relative;
    top: 50px;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: #505f79;
    max-width: 200px;
  }

  .about_me button {
    position: relative;
    top: 60px;
  }

  .expertise {
    position: relative;
    top: 166px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    gap: 10px;
    width: 55%;
  }

  .domaine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    width: 100%;
  }

  .domaine h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 0;
  }

  .dom2,
  .dom3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe1e6;
  }

  .list_language {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 324px;
  }

  .list_language h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .lang img {
    width: 48px;
    height: 48px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 110px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  /* Contact css start */

  .contact {
    background-color: #6070ff;
    background-image: url(./images/contact_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6070ff;
    border-top-left-radius: 80px;
    margin-top: -200px;
    padding-bottom: 20px;
    gap: 10px;
  }

  .contact h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin: 80px 0 0 0;
  }

  .contact p {
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    width: 55%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  input {
    width: 447px;
    height: 44px;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    background: white;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    color: #172b4d;
  }

  input::placeholder {
    color: #172b4d;
    font-size: 17px;
    padding-left: 10px;
  }

  textarea {
    width: 447px;
    height: 170px;
    background: white;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    margin-bottom: 0;
    text-align: start;
    font-size: 20px;
  }

  textarea::placeholder {
    position: absolute;
    color: #b3b3b3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 10px;
  }

  .contact button {
    margin-left: 150px;
  }
}

/* Mobile part */

@media (max-width: 767px) {
  .desk_work,
  .nav_links a {
    display: none;
  }
}
